/*
  #253D59 #4B688A #F4F4F2 #A6793D #724C2A
  #F7EFF6 #C4C4BD #56BED7 #D43215 #453B3D
  #FF0000 #FF950B #2FA88C #DEEB00 #4B2C04
  #555555 #7BB38E #F4F1D7 #F8AB65 #F15C4C
  #EB5937 #1C1919 #403D3C #456F74 #D3CBBD
  #2C3E50 #FC4349 #D7DADB #6DBCDB #FFFFFF
  #405952 #9C9B7A #FFD393 #FF974F #F54F29
  #325A66 #FFF8B2 #DEA140 #A32B26 #590D0B
  #F16663 #F48D6C #F2E07B #8ABE9B #4A6D8B
  #E5DD00 #8CB202 #008C74 #004C66 #332B40
  #B0CC99 #677E52 #B7CA79 #F6E8B1 #89725B
  #588C7E #F2E394 #F2AE72 #D96459 #8C4646
  #302B2F #696153 #FFA600 #9BB58F #FFD596
  #60655F #AB9675 #FFE0C9 #D4CCBA #CF8442
  #25CCF7 #EAB543 #55E6C1 #D6A2E8 #BDC581 #F8EFBA #FD7272
*/

:root {

}


body {
  font-family: "CMUSerifRoman", Georgia, "HelveticaNeue-Light", "baskerville", Helvetica, Arial;
  padding: 5% 5% 5% 5%;
  background-color: #F4F1D7;
}


.navigation {
  display:inline-block;
  background-color: #FFFFFF;
  padding: 5px 5px 5px 5px;
  border-width: 10px;
  border-radius: 10px;
}

.navEntry {
  display:inline-block;
  background-color: #555555;
  color: #F4F1D7;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  border-width: 10px;
  border-radius: 10px;
}

.container {
  background-color: #FFFFFF;
  color: #555555;
  padding: 10px 50px 10px 50px;
  margin: 10px 10px 10px 10px;
  border-width: 5px;
  border-radius: 20px;
}


.title {
  text-align: center;
  font-size: 20pt;
  font-variant: small-caps;
}

.short {
  text-align: center;
  margin-bottom: 20px;
}

.description {
  text-align: justify;
  /* display: none; */
}




/*
====================================================================
      FORM
====================================================================
*/

.entryAdder {
  /* display: inline-block; */
  background-color: #555555;
  padding: 10px 10px 10px 10px;
  border-width: 10px;
  border-radius: 10px;
  text-align: center;
}

form.entryAdder > textarea {
  width: 80%;
  background-color: #FFFFFF;
  margin: 2px 2px 2px 2px;
  border-color: #FFFFFF;
  border-width: 10px;
  border-radius: 10px;
  font-size: 12pt;
  font-family: "CMUSerifRoman", Georgia, "HelveticaNeue-Light", "baskerville", Helvetica, Arial;
}

textarea#title {
  text-align: center;
  line-height: 1;
}

textarea#short {
  text-align: center;
}

textarea#long {
  text-align: justify;
}

input#submit {
  display: block;
}





/*
  #253D59 #4B688A #F4F4F2 #A6793D #724C2A
  #F7EFF6 #C4C4BD #56BED7 #D43215 #453B3D
  #FF0000 #FF950B #2FA88C #DEEB00 #4B2C04
  #555555 #7BB38E #F4F1D7 #F8AB65 #F15C4C
  #EB5937 #1C1919 #403D3C #456F74 #D3CBBD
  #2C3E50 #FC4349 #D7DADB #6DBCDB #FFFFFF
  #405952 #9C9B7A #FFD393 #FF974F #F54F29
  #325A66 #FFF8B2 #DEA140 #A32B26 #590D0B
  #F16663 #F48D6C #F2E07B #8ABE9B #4A6D8B
  #E5DD00 #8CB202 #008C74 #004C66 #332B40
  #B0CC99 #677E52 #B7CA79 #F6E8B1 #89725B
  #588C7E #F2E394 #F2AE72 #D96459 #8C4646
  #302B2F #696153 #FFA600 #9BB58F #FFD596
  #60655F #AB9675 #FFE0C9 #D4CCBA #CF8442
  #25CCF7 #EAB543 #55E6C1 #D6A2E8 #BDC581 #F8EFBA #FD7272
*/
